/*
Theme Name: Homey
Theme URI: http://themeforest.net/user/favethemes/
Author: Favethemes
Author URI: http://favethemes.com/
Description: Homey is a powerful booking platform that lets you run a residential or commercial
rental business online with no hassle
Version: 1.2.0
Tags: right-sidebar, left-sidebar, custom-colors, custom-menu, featured-images, post-formats, theme-options, translation-ready
License: This theme or plugin is comprised in two parts (1) the PHP code and integrated HTML are licensed under the General Public License (GPL). You will find a copy of the GPL in the same directory as this
text file. (2) All other parts, but not limited to the CSS code, images, and design are licensed according to the license purchased from Envato.
License URI: https://themeforest.net/licenses 
Text Domain: homey
*/
/* ----------------------------------------------------------------------------------------------
* styles
* ----------------------------------------------------------------------------------------------*/
@media print {
.dashboard-sidebar, .dashboard-page-title, .alert, .block-head .block-right, .payment-buttons, .header-dashboard, .btn {display:none;}
.dashboard-with-sidebar {padding: 0 !important;}
}
body.blog .main-content-area {
	margin-top: 40px;
}
div.gm-style > button[title="Toggle fullscreen view"] {
  display: none !important;
}
.bootbox-close-button, .homey_preloader {
	display: none;
}
.msg-user-info {
    margin: 0px 0 10px 0px;
}
#homey_sticky_map {
	min-height: 555px;
  width: 100%;
}
#banner-map, 
div#homey-halfmap {
	width: 100%;
	height: 100%;
}
.map_canvas {
	height: 300px;
}
.item-user-info {
    text-transform: capitalize;
}
.gallery-hidden { display: none; }

.homey-in-range { 
  background-color: rgba(84, 196, 217, 0.2)!important; 
}
.homey-start-date, 
.homey-end-date{ 
	background-color: #2a6ebb !important;
  color: #ffffff;
}
.booking-property-img img {
	width: 160px;
}
.price-section ul.detail-list li {
	text-transform: capitalize;
}
.rules-section ul.rules_list li strong {
	float: right;
}
.dashboard-listing-table img {
    width: 110px;
}
.rating .fa-star-half-o {
    color: #f8b42b;
}
.avatar {
	border-radius: 50%;
}
.homey_stripe_simple {
	display: none !important;
}
header.header-nav.sticky-nav-area, 
.main-search.sticky-search-area, 
.nav-area.sticky-nav-area {
    position: relative;
    width: 100%;
    z-index: 1000;
    top: 0;
    opacity:0;
    visibility:hidden;
    transform:translate(0, -200px);
}

header.header-nav.homey-in-view, 
.main-search.homey-in-view, 
.nav-area.homey-in-view {
  opacity:1;
  position: fixed !important;
  visibility:visible;
  transition: all 0.4s ease;
  transform:translate(0, 0);
  animation: fadein 0.4s;
}

.map-notfound {
    font-size: 20px;
    font-weight: 300;
    z-index: 1;
    top: 48%;
    left: 26%;
    width: 280px;
    height: 78px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    opacity: .95;
    color: #434a54;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
}
.homey-carousel {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}
.homey-carousel.slick-initialized {
    visibility: visible;
    opacity: 1;    
}
.homeyInfobox > img {
    z-index: 10;
}
.homeyInfobox::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(0,0);
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 11px solid white;
}
.mw-nav {
  display: none;
}
#google-maps-info-window .item-wrap {
  width: 100%;
}
.gallery-caption {
  display: block;
  font-size: 0.71111em;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
}
nav#comment-nav-above {
    margin-bottom: 25px;
}
.nav-previous {
    display: inline-block;
}
.nav-next {
    display: inline-block;
    float: right;
}
.page-wrap .pagination {
    text-align: center;
    margin: 0;
}
#swipebox-close {
    z-index: 999999 !important;
}
.homey-display {
  display: block !important;
}
.fc-button {
    color: #fff !important;
}
.search-hourly-calendar-main {
  width: 350px !important;
}
.search-hourly-calendar-main:after, .search-hourly-calendar-main:before {
    left: 50% !important;
}
.icon-center {
  position: absolute;
    top: 50%;
    left: 45%;
    z-index: 100000000;
}
